  
  body {
    text-align: center;
    
  }
  #field {
    background: url("../WDI_20_PROJECT_1/images/baliza.jpeg") no-repeat;
    height: 200px;
    width: 600px;
    background-size: 400px;
  }
  div.ball {
    position: absolute;
    bottom: 50px;
    left: 120px;
    
    transition: 1s ease-in;
  }
  div.ball  {
    width: 80px;
    height: 80px;
    background: url("../WDI_20_PROJECT_1/images/ball.jpeg") no-repeat;
    background-size: 50px;
    transition: 1s ease-in-out;
  }

  
   div.ball:hover {
   /* The translate() method moves an element from its current position (according to the parameters given for the X-axis and the Y-axis)*/
    transform: translate(0px,-500px);
  }
/*  #field:hover div.ball div {

    transform: rotate(20deg);
  }*/