  
  body {
    text-align: center;
  }

  #gameDiv {
    border: 1px solid black;
    height: 600px;
    width: 720px;
    text-align: center;
  }
  #field {
    border: 1px solid black;
    height: 500px;
    width: 690px;
    text-align: center;
    margin: 15px 0 0 15px;
  }

  #baliza {
    background: url("../WDI_20_PROJECT_1/images/baliza1.png") no-repeat; 
    height: 200px;
    width: 640px;
    background-size: 640px 200px;
    /*cursor: url("../WDI_20_PROJECT_1/images/ball.jpeg"), auto;*/
    margin: 10px 0 0 25px;
    border: 1px solid black;
  }

/*  div.ball {
  }
*/
  div.ball  {
    width: 20px;
    height: 20px;
    margin: 150px 0 0 345px;
    /*margin: -90px 0 0 475px;*/
    background: url("../WDI_20_PROJECT_1/images/ball.png") no-repeat;
    background-size: 20px;
    /*transition: 1s ease-in;*/
    transition: 1s ease-in-out;
    /*border: 1px solid black;*/ 
  }


  #slider_y{
      transform: rotate(90deg);
  }
  div#keeper {
      background: url("../WDI_20_PROJECT_1/images/goolkeeper.png") no-repeat;
      /*margin: 105px 0 0 310px;*/
      /*transform: rotate(90deg);*/

      margin: 125px 0 0 310px;
      width: 40px;
      height: 75px;
      background-size: 40px;
      transition: 1s ease-in-out;
/*      background-color: red;
      animation-name: keeperMove;
      animation-duration: 4s;
      animation: keeperMove 5s infinite;*/
  }

  /*@keyframes keeperMove {
      0%   {left:190px; top:140px;}
      50%  {left:430px; top:140px;}
      100%  {left:190px; top:140px;}

  }*/
  
  /* The translate() method moves an element from its current position (according to the parameters given for the X-axis and the Y-axis)*/

/*   div.ball:hover {
   
    transform: translate(0px,-500px);
  }*/
/*  #field:hover div.ball div {

    transform: rotate(20deg);})

  }*/